REACT_EDITOR=cursor
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_API_URL=

MONGODB_URI=
CLOUDINARY_URL=

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
NEXTAUTH_URL=